#main {
    margin: 20px;
    display: grid;
    grid-template-rows: 50px auto 50px;
    grid-row-gap: 15px;
    justify-content: center;
    align-content: stretch;
    margin-top: 40px;
    font-family: 'Molengo', sans-serif;
}

@font-face {
    font-family: 'Molengo', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Molengo&display=swap');
}
