#results {
    th, td {
        padding: 10px;
        border-bottom: 1px solid #cccccc;
    }
    #results-header {
        text-align: left;
    }
    border-spacing: 0;
    border-collapse: separate;
    padding: 0 20px;
    border-left: 5px solid #ff86861c;
    border-right: 5px solid #ff86861c;
    
}